# Ambiente virtual
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Variáveis de ambiente
.env
.env.local

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
